body, html
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color:rgb(36, 14, 0);
}

.recomendado
{
    position: absolute;
    width: 750px;
    top: 100px;
    right: 350px;
    z-index: 3;
}

.tijeranavaja
{
    position: absolute;
    width: 500px;
    top: 100px;
    right: -10px;
}

.texto {
    display: none;
    font-size: 25px; 
    padding: 15px 30px; 
    border: 2px solid black;
    border-width: 3px; 
    border-radius: 50px; 
    font-weight: bold;
    text-decoration: none; 
    color: white;
    text-align: center; 
    z-index: 15; 
    transform: translateX(370px);
    background-color: black; 
    position: absolute; 
    top: 240px;
}

.textos {
    display: none;
    font-size: 25px; 
    padding: 15px 30px; 
    border: 2px solid black;
    border-width: 3px; 
    border-radius: 50px; 
    font-weight: bold;
    text-decoration: none; 
    color: white;
    text-align: center; 
    margin: 1px 500px;
    z-index: 15;
    transform: translateX(155px);
    background-color: black; 
    position: absolute;
    top: 240px; 
}

.imagen {
    position: absolute;
    width: 100px;
    transform: translateX(735px);
    z-index: 10;
    top: 350px;
}

.imagenes {
    position: absolute;
    width: 100px;
    transform: translateX(420px);
    z-index: 10;
    top: 350px;
}