body, html
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color:rgb(36, 14, 0);
}

.recomendado
{
    position: absolute;
    width: 750px;
    top: 100px;
    right: 350px;
    z-index: 2;
}

.tijeranavaja
{
    position: absolute;
    width: 500px;
    top: 100px;
    right: -10px;
}

.texto
{
    display: none;
    font-size: 20px; 
    padding: 10px 20px; 
    border: 2px solid black;
    border-width: 3px; 
    border-radius: 50px; 
    font-weight: bold;
    text-decoration: none; 
    color:black ;
    text-align: center; 
    margin: 1px 520px;
    z-index: 2;
}

.texto2
{
    display: none;
    font-size: 20px; 
    padding: 10px 20px; 
    border: 2px solid black;
    border-width: 3px; 
    border-radius: 50px; 
    font-weight: bold;
    text-decoration: none; 
    color:black ;
    text-align: center; 
    margin: 1px 320px;
    z-index: 2;
}
